/* Main element */

html,
body,
h1,
h2 {
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  display: flex;
}

::placeholder {
  color: #666;
}

/* Header */

#app_header {
  align-items: center;
  background: #496aa8;
  color: #fff;
  display: flex;
  height: 90px;
  justify-content: center;
  text-shadow: 2px 2px 2px #222;
}

/* Sidebar */

#sidebar {
  display: flex;
  height: calc(100vh - 175px);
  justify-content: space-between;
  margin: 55px 0 0 -275px;
  position: fixed;
  transition: margin 1s;
  z-index: 1;
}

#sidebar input {
  height: 33px;
  padding: 0 5px;
}

#sidebar select {
  height: 35px;
}

#sidebar h2 {
  font-size: 20px;
  margin: 0 0 5px 0;
}

#sidebar_main {
  border-radius: 0 0 10px 0;
  padding: 20px;
  width: 235px;
}

#sidebar_tab {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

#sidebar_main,
#sidebar_tab {
  background: wheat;
}

#sidebar_tab,
#sidebar_tab:before {
  border-radius: 0 5px 5px 0;
}

/*This element sits below the #sidebar_tab which means that when
 box-shadow is applied, the shadow doesn't bleed into other divs*/
#sidebar_tab:before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#sidebar_main,
#sidebar_tab:before {
  box-shadow: 1px 1px 5px #666;
}

#tab_link {
  color: hotpink;
  height: 40px;
  margin-left: 275px;
  position: absolute;
}

#tab_arrow {
  transition: transform 1s;
}

.open {
  margin-left: 0 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}

#location_component {
  display: flex;
  flex-flow: column nowrap;
}

#neighbourhood_component {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 75px);
  margin-top: 15px;
}

#neighbourhood_list {
  height: calc(100% - 75px);
  margin: 5px 0 0 0;
  overflow-y: auto;
  padding-left: 5px;
}

#neighbourhood_list a {
  color: steelblue;
}

.highlighted {
  color: purple !important;
  text-decoration: underline;
}

#no_results,
#loading {
  margin-top: 25%;
  text-align: center;
}

/* Map */

.contact_details {
  max-width: calc(100vw - 60px);
  overflow-wrap: break-word;
}

.contact_details span {
  font-weight: bold;
}

.contact_details ul {
  max-width: 350px;
  padding-left: 5px;
  width: calc(100% - 5px);
}
