html,
body,
h1,
h2 {
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.App-header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu {
  position: absolute;
  width: 70px;
}

#content {
  display: flex;
}

/* Sidebar */

#sidebar {
  height: calc(100vh - 160px);
  position: fixed;
  z-index: 1;
  margin-left: -275px;
  display: flex;
  justify-content: space-between;
  transition: margin 1s;
  margin-top: 40px;
}

#sidebar h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

#sidebar_main {
  width: 235px;
  padding: 20px;
  border-radius: 0 0 10px 0;
}

#sidebar_tab {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

#sidebar_main,
#sidebar_tab {
  background: wheat;
}

#tab_link {
  color: hotpink;
  height: 40px;
}

#tab_arrow {
  transition: transform 1s;
}

.open {
  margin-left: 0 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}

#location_component {
  display: flex;
  flex-flow: column nowrap;
}
#sidebar input,
#sidebar select {
  height: 35px;
}

#neighbourhood_component {
  margin-top: 15px;
  height: calc(100% - 75px);
  display: flex;
  flex-flow: column nowrap;
}

#neighbourhood_list {
  margin: 5px 0 0 0;
  height: calc(100% - 75px);
  overflow-y: auto;
  padding-left: 5px;
}

#neighbourhood_list a {
  color: steelblue;
}

.contact_details span {
  font-weight: bold;
}

.contact_details ul {
  padding-left: 23px;
}

.highlighted {
  color: purple !important;
  text-decoration: underline;
}

#loading {
  text-align: center;
  margin-top: 25%;
}
