html,
body,
h1,
h2 {
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  display: flex;
}

.App-header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #496aa8;
  color: #fff;
  text-shadow: 2px 2px 2px #222;
}

#menu {
  position: absolute;
  width: 70px;
}

/* Sidebar */

#sidebar {
  height: calc(100vh - 175px);
  position: fixed;
  z-index: 1;
  margin-left: -275px;
  display: flex;
  justify-content: space-between;
  transition: margin 1s;
  margin-top: 55px;
}

#sidebar h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}

#sidebar_main {
  width: 235px;
  padding: 20px;
  border-radius: 0 0 10px 0;
}

#sidebar_tab {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar_main,
#sidebar_tab {
  background: wheat;
}

#sidebar_tab,
#sidebar_tab:before {
  border-radius: 0 5px 5px 0;
}

#sidebar_tab:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#sidebar_main,
#sidebar_tab:before {
  box-shadow: 1px 1px 5px #666;
}

#tab_link {
  color: hotpink;
  height: 40px;
  position: absolute;
  margin-left: 275px;
}

#tab_arrow {
  transition: transform 1s;
}

.open {
  margin-left: 0 !important;
}

.rotate {
  transform: rotate(180deg) !important;
}

#location_component {
  display: flex;
  flex-flow: column nowrap;
}
#sidebar input {
  height: 33px;
}

::placeholder {
  color: #666;
}

#sidebar select {
  height: 35px;
}

#sidebar input {
  padding: 0 5px;
}

#neighbourhood_component {
  margin-top: 15px;
  height: calc(100% - 75px);
  display: flex;
  flex-flow: column nowrap;
}

#neighbourhood_list {
  margin: 5px 0 0 0;
  height: calc(100% - 75px);
  overflow-y: auto;
  padding-left: 5px;
}

#neighbourhood_list a {
  color: steelblue;
}

.contact_details span {
  font-weight: bold;
}

.contact_details ul {
  padding-left: 23px;
}

.highlighted {
  color: purple !important;
  text-decoration: underline;
}

#no_results,
#loading {
  text-align: center;
  margin-top: 25%;
}

#contact_details {
    max-width: 300px;
}